@model Behlog.Web.Models.Identity.RegisterUserCommand
@{
    Layout = null;
    ViewData["Title"] = "User Registration";
}

<!DOCTYPE html>

<html>
<head>
    <title>@ViewData["Title"] - Behlog CMS</title>
</head>
<body>
<div>
    @if (Model.Success)
    {
        <span style="color: green">Success</span>
    }
    
    @if (Model.HasError)
    {
        <span style="color: red">Error: @Model.ModelMessage </span>
    }
    
    <br /><br /><br /><br /><br /><br />
    
    <form method="post" asp-area="Identity" asp-controller="Register" asp-action="Index">
        <div class="form-group">
            <label asp-for="UserName">UserName: </label>
            <input asp-for="UserName" class="form-control" placeholder="Username..."/>
        </div>
        <div class="form-group">
            <label asp-for="Password">Password: </label>
            <input asp-for="Password" type="password" class="form-control" placeholder="Password..."/>
        </div>
        <div class="form-group">
            <label asp-for="DisplayName">DisplayName: </label>
            <input asp-for="DisplayName" class="form-control" placeholder="DisplayName..."/>
        </div>
        <div class="form-group">
            <label asp-for="FirstName">FirstName: </label>
            <input asp-for="FirstName" class="form-control" placeholder="FirstName..."/>
        </div>
        <div class="form-group">
            <label asp-for="LastName">LastName: </label>
            <input asp-for="LastName" class="form-control" placeholder="LastName..."/>
        </div>
        <div class="form-action">
            <button type="submit">Send...</button>
            <button type="reset">Reset form</button>
        </div>
    </form>
    
</div>
</body>
</html>