@model Behlog.Web.Models.Identity.RegisterUserCommand
@{
    ViewData["Title"] = "User Registration";
}

<div class="text-center">
    @if (Model.Success)
    {
        <div class="alert alert-success">
            <span style="color: green">Success</span>    
        </div>
    }
    
    @if (Model.HasError)
    {
        <div class="alert alert-danger">
            <span style="color: red">Error: @Model.ModelMessage </span>    
        </div>
    }
    
    <form method="post" asp-area="Identity" asp-controller="Register" asp-action="Index">
        <div class="form-group">
            <label asp-for="UserName">UserName: </label>
            <input asp-for="UserName" class="form-control" placeholder="Username..."/>
        </div>
        <div class="form-group">
            <label asp-for="Password">Password: </label>
            <input asp-for="Password" type="password" class="form-control" placeholder="Password..."/>
        </div>
        <div class="form-group">
            <label asp-for="DisplayName">DisplayName: </label>
            <input asp-for="DisplayName" class="form-control" placeholder="DisplayName..."/>
        </div>
        <div class="form-group">
            <label asp-for="FirstName">FirstName: </label>
            <input asp-for="FirstName" class="form-control" placeholder="FirstName..."/>
        </div>
        <div class="form-group">
            <label asp-for="LastName">LastName: </label>
            <input asp-for="LastName" class="form-control" placeholder="LastName..."/>
        </div>
        <div class="form-action">
            <button class="btn btn-success" type="submit">Send...</button>
            <button class="btn btn-primary" type="reset">Reset form</button>
        </div>
    </form>
    
</div>